# Ignore bundler lockfile
# http://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile
*.lock

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/spec/dummy/log/*
/spec/dummy/tmp/*
!/spec/dummy/log/.keep
!/spec/dummy/tmp/.keep

